<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="angular-awesome-slider/dist/css/angular-awesome-slider.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--     <script src="//code.jquery.com/jquery-1.10.2.js"></script> -->
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-aria/angular-aria.min.js"></script>
    <script src="/angular-messages/angular-messages.min.js"></script>
    <script src="/angular-material/angular-material.min.js"></script>
    <script src="/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3-xlKOIGJbrYXRgS5m1105Wed4svqTPo&sensor=true"></script>
    <script src="angular-awesome-slider/dist/angular-awesome-slider.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <body>
    <div id="main" ui-view></div>
</body>
</html>
