

<div layout="row">

<div layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding>
    <div>
    <h2>Change your password, {{user.email}}!</h2>
        <div layout-gt-sm="row">
        <md-input-container class="md-block">
          <label>New Password</label>
          <input ng-model="update.password">
        </md-input-container>
        </div>
      <md-button class="md-accent md-raised md-hue-3 md-button md-ink-ripple" ng-click="updatePassword()">Update Password</md-button>
    </div>
  </md-content>
 </div>
</div>
