<ion-content scroll="false" id="addons">
	<ion-content scroll="false" id="addonsStates" ng-show="activeButtons === pictureFunctions">
		<input type="file" accept="image/*" capture="camera"
	    class="button" 
	    id="getPicture" 
	    style="width: 50%"
	    >
	    <button
	    class="button"
	    ng-click="comify()">
	    	COMIFY
	    </button>
<!-- 	    <button 
	    class="button" 
	    id="stateButtons" 
	    ng-repeat="button in activeButtons" 
	    ng-click="button.function()" 
	    ng-style="{ 
	    'width': myWidth(), 
	    'background-color': button.style['background-color'], 
	    'color': button.style['color'],
	    'font-weight': button.style['font-weight'] }">
	    		<div>{{button.state}}</div>
	    </button> -->
	</ion-content>	
	<ion-content scroll="false" id="addonsStates" ng-show="activeButtons === addonStates">
	    <button 
	    class="button" 
	    id="stateButtons" 
	    ng-repeat="button in activeButtons" 
	    ng-click="button.function()" 
	    ng-style="{ 
	    'width': myWidth(), 
	    'background-color': button.style['background-color'], 
	    'color': button.style['color'],
	    'font-weight': button.style['font-weight'] }">
	    		<div>{{button.state}}</div>
	    </button>
	</ion-content>
	<ion-scroll direction="x" id="addonsBottom">
		<div id="squareAndAddonFrames" ng-show="addonType!=='filter'">
		    <button ng-if="addonType !== 'filter'" id="transparent" class="button" ng-repeat="addon in addons | filter: {type: addonType}" ng-click="addon.addonFunction()">
				<div>
		    		<img src="{{ addon.thumbnail }}">
		    	</div>
		    </button>
		</div>
		<div id="squareAndAddonFrames" ng-show="addonType==='filter'">
		    <button  id="transparent" class="button" ng-click="applyfilter('grey','imageCanvas')">
				<canvas id='grey' width='125' height='125' data-caman-hidpi-disabled="true"></canvas>
		    </button>
		    <button  id="transparent" class="button" ng-click="applyfilter('poster','imageCanvas')">
				<canvas id='poster' width='125' height='125' data-caman-hidpi-disabled="true"></canvas>
		    </button>
		    <button  id="transparent" class="button" ng-click="applyfilter('brown','imageCanvas')">
				<canvas id='brown' width='125' height='125' data-caman-hidpi-disabled="true"></canvas>
		    </button>
		    <button  id="transparent" class="button" ng-click="applyfilter('black','imageCanvas')">
				<canvas id='black' width='125' height='125' data-caman-hidpi-disabled="true"></canvas>
		    </button>
		</div>		
	</ion-scroll>
</ion-content>
