* {
  box-sizing: border-box; }

body {
  background: #fdfdfd; }

#main {
  padding-top: 0px;
  margin: 0 auto; }

#slider-range {
  width: 50%;
  float: right; }

md-slider {
  width: 10%;
  float: right; }

.sliderTitle {
  float: right;
  color: white; }

fullstack-logo {
  display: block; }
  fullstack-logo img {
    display: block;
    width: 100%; }

navbar {
  display: block;
  background: white; }
  navbar .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px; }
  navbar fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px; }
  navbar a {
    color: black;
    font-size: 16px; }
  navbar .nav > li > a {
    cursor: pointer;
    transition: color 0.2s; }
    navbar .nav > li > a.active {
      color: #c80a0c; }
    navbar .nav > li > a:hover {
      background: none;
      color: #f31214; }
    navbar .nav > li > a:focus {
      background: none; }
  navbar .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important; }
  navbar .welcome {
    float: right;
    margin-top: 12px; }
    navbar .welcome span {
      color: black;
      font-size: 16px;
      margin-right: 5px; }
    navbar .welcome a {
      color: #f30046;
      cursor: pointer; }

#home fullstack-logo {
  padding-top: 30px;
  width: 150px;
  margin: 0 auto; }

#home h1 {
  margin-top: 40px;
  text-align: center; }

#about {
  margin: 0 auto;
  width: 90%; }
  #about:after {
    content: "";
    display: table;
    clear: both; }
  #about p {
    width: 40%;
    margin: 0 auto;
    text-align: justify;
    font-size: 22px;
    font-weight: 300;
    float: left; }
  #about .carousel {
    float: right;
    width: 55%;
    overflow: hidden;
    margin: 0 auto; }
    #about .carousel .carousel-inner {
      height: 500px !important; }
    #about .carousel .carousel-control {
      background: none; }
    #about .carousel .carousel-indicators {
      display: none; }
    #about .carousel img {
      max-width: 100%;
      max-height: 500px;
      display: block;
      margin: 0 auto; }

tutorial-section {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 20px 0 60px 0; }
  tutorial-section > h1 {
    margin: 20px 0 40px 0;
    text-align: center;
    font-weight: bold; }

tutorial-video {
  display: block;
  width: 600px;
  margin: 0 auto; }
  tutorial-video h1 {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 15px; }
  tutorial-video iframe {
    width: 600px;
    height: 400px; }

tutorial-section-menu {
  display: block; }
  tutorial-section-menu:after {
    content: "";
    display: table;
    clear: both; }
  tutorial-section-menu ul {
    margin-left: 23px;
    list-style-type: none;
    font-weight: 300; }
    tutorial-section-menu ul li {
      float: left;
      margin-right: 40px;
      padding: 10px;
      cursor: pointer; }
      tutorial-section-menu ul li:hover {
        background: #f3f3f3; }

#login-form {
  width: 60%;
  margin: 0 auto; }

#signup-form {
  width: 60%;
  margin: 0 auto; }

.listImg {
  width: 100%;
  padding: 20px; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.green {
  color: green; }

.material-icons.blue {
  color: blue; }
