<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- FIREBASE -->
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- Jquery Scripts -->
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<!--     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
 -->
    <!-- ionic/angularjs js -->
    <script src="lib/hammerjs/hammer.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/AngularHammer/angular.hammer.js"></script>
    <script src="lib/ngstorage/ngStorage.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/components/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/4.1.2/caman.full.min.js"></script>
    <script type="text/javascript" src="lib/caman/dist/caman.full.min.js"></script>
    
    <!-- html2canvas scripts -->
    <script src="js/components/jquery.min.js"></script>
    <script src="js/components/angular-route.min.js"></script>
    <script src="js/components/angular-sanitize.min.js"></script>
    <script src="js/components/html2canvas.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/fsa/fsa-pre-built.js"></script>

    <!-- Factories -->
    <script src="js/user/user.factory.js"></script>
    <script src="js/story/story.factory.js"></script>
    <script src="js/camera/camera.factory.js"></script>
    <script src="js/camera/grafi.factory.js"></script>
    <script src="js/camera/filter.factory.js"></script>


    <!-- Directives -->
    <script src="js/navbar/navbar.main/navbar.main.directive.js"></script>
    <script src="js/navbar/navbar.addons/navbar.addons.directive.js"></script>
    <script src="js/navbar/navbar.addons/navbar.elastic.directive.js"></script>
    
    <!-- Controllers -->
    <script src="js/controllers.js"></script>
    <script src="js/home/home.controller.js"></script>
    <script src="js/signup/signup.js"></script>
    <script src="js/login/login.js"></script>
    <script src="js/story/story.create.controller.js"></script>
    <script src="js/story/story.controller.js"></script>
    <script src="js/camera/camera.controller.js"></script>
    <script src="js/settings/settings.controller.js"></script>
    <script src="js/navbar/navbar.main/navbar.main.controller.js"></script>

    <!-- Filters -->
    <script src="js/filters/filters.js"></script>

    <script src="js/services.js"></script>

  </head>

  <body ng-app="starter">

  <!-- Top navbar that changes based on states -->
    <ion-nav-bar class="bar-stable" ng-controller="Topnavbar">
        <div ng-show="checkState()">
            <ion-nav-back-button></ion-nav-back-button>
        </div>
    <ion-nav-buttons side="left">
        <button ng-hide="'home' | isState" ui-sref="home" class="button icon-left ion-home"></button>
      <!--   <button ng-if=" 'home' | isState" menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
        <!-- <button ng-if=" 'camera' | isState" class="button button-icon ion-grid"></button> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <!-- <button class="button button-icon ion-ios-email"></button> -->
        <button ng-if=" 'home' | isState" class="button button-icon ion-person-add"></button>
        <button ui-sref="settings" ng-if=" 'home' | isState" class="button button-icon ion-gear-a"></button>
    </ion-nav-buttons>

    <ion-nav-view>
    </ion-nav-view>
    
  </body>
</html>
