/* Empty. Add your own CSS if you like */

#addons {
	height: 200px;
}

#myCanvas {
	position: absolute;
	top: 0px;
}

#navbarAddon {
	height: 200px;
	position: absolute;
    bottom: 0px;
	overflow: scroll;
	width:100%;
	white-space: nowrap;
    -webkit-box-shadow: 
	0px 0px 10px #000;
}

#addonsStates {
	position: relative;
	height:24%;
}

#stateButtons {
}

#addonsBottom {
	background: #FFFFF0;
	height:75%;
	position: relative;
	bottom: 0px;
	overflow: scroll;
	white-space: nowrap;
}


#squareAndAddonFrames {
	height: 125px;
	width: 125px;
}

/*#transparent {
	background: white;
}*/



